body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    background: rgba(255, 249, 249, 0.911);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

button{
    padding: 10px;
    font-weight: 600;
    color: white;
    border: none;
    margin: 10px;
}

.btn-container{
    margin: .5rem 0;
}

.message span{
    font-size: 28px;
}

.equation span{
    margin: 0 1rem;
}

.true{
    background-color: green;
}

.false{
    background-color: red;
}

.next{
    background-color: blue;
}